﻿@{
    ViewData["Title"] = "Home Page";
}

<h2>@ViewData["Title"].</h2>


<br />

<div class="row">

    <div class="col-xs-8 col-xs-offset-2">
        <p class="text-center">Demo application using sdk in C#.</p>
    </div>

</div>



