﻿@{
    ViewData["Title"] = "Collect";
}

<h2>@ViewData["Title"].</h2>


<br />

<div class="row">

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">

            <div class="panel-heading" role="tab" id="headingOne">

                <h4 class="panel-title">

                    <a role="button" class="btn-header" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

                        Request

                    </a>

                </h4>

            </div>

            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">

                <div class="panel-body">

                    <pre class="language-javascript">

                    <code class="language-javascript">

                            @ViewData["request"]

                        </code>

                    </pre>

                </div>

            </div>

        </div>

    </div>

</div>




<hr />

<div class="row">

    <h3>Response:</h3>

    <pre class="language-javascript">

    <code class="language-javascript">

            @ViewData["response"]

        </code>

    </pre>

</div>

